@mixin pointer() {
  cursor: pointer;
}

@mixin full-fixed() {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin bg-image($url, $repeat: no-repeat, $position: center, $size: cover) {
  background-repeat: $repeat;
  background-image: url($url + '.png');
  background-position: $position;
  background-size: $size;
}

@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin multiple-lines() {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin extend-click() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}
