$bg-theme: #282b32;
$bg-theme-d: rgba(51, 51, 51, 0.7);
$bg-theme-l: rgba(51, 51, 51, 0.5);
$bg-hover: rgba(36, 39, 45, 0.3);

$cl-theme: #f0d0e0;
$cl-theme-d: RGB(240, 208, 224, 0.4);
$cl-sub-theme: #c39cb7;
$cl-highlight-background: #6d5b77;
$cl-dialog-background: #666;

$cl-text: #fff;
$cl-text-d: rgba(255, 255, 255, 0.2);
$cl-text-l: rgba(255, 255, 255, 0.5);
$cl-text-ll: rgba(255, 255, 255, 0.8);

$fz-small-s: 12px;
$fz-small: 14px;
$fz-medium: 16px;
$fz-medium-x: 18px;
$fz-large: 22px;
$fz-large-x: 24px;

$lh-small-s: 20px;
$lh-small: 22px;
$lh-medium: 24px;
$lh-medium-x: 26px;
$lh-large: 30px;
$lh-large-x: 32px;
