$bg-theme-light: #cdd4e4;
$bg-theme-dark: #282b32;

$cl-highlight-background: #6d5b77;
$cl-dialog-background: #666;
$cl-theme: #f0d0e0;
$cl-theme-d: RGB(240, 208, 224, 0.4);
$cl-sub-theme: #c39cb7;
$cl-text: #fff;
$cl-text-d: rgba(255, 255, 255, 0.2);
$cl-text-l: rgba(255, 255, 255, 0.5);
$cl-text-ll: rgba(255, 255, 255, 0.8);

$fz-small-s: 10px;
$fz-small: 12px;
$fz-medium: 14px;
$fz-medium-x: 16px;
$fz-large: 18px;
$fz-large-x: 22px;
