$bg-theme: rgb(40, 43, 50);
$bg-theme-d: rgba(40, 43, 50, 0.2);
$bg-theme-l: rgba(40, 43, 50, 0.5);
$bg-theme-ll: rgba(40, 43, 50, 0.8);
$bg-sub-theme: rgb(51, 51, 51);
$bg-gray: rgb(102, 102, 102);
$bg-gray-d: rgba(102, 102, 102, 0.2);
$bg-gray-l: rgba(102, 102, 102, 0.5);
$bg-gray-ll: rgba(102, 102, 102, 0.8);
$bg-reverse: rgb(220, 221, 225);
$bg-reverse-d: rgba(220, 221, 225, 0.2);
$bg-reverse-l: rgba(220, 221, 225, 0.5);
$bg-reverse-ll: rgba(220, 221, 225, 0.8);

$cl-theme: rgb(220, 221, 225);
$cl-theme-d: rgb(220, 221, 225, 0.4);

$cl-text: rgb(255, 255, 255);
$cl-text-d: rgba(255, 255, 255, 0.2);
$cl-text-l: rgba(255, 255, 255, 0.5);
$cl-text-ll: rgba(255, 255, 255, 0.8);

$fz-small-s: 12px;
$fz-small: 14px;
$fz-medium: 16px;
$fz-medium-x: 18px;
$fz-large: 22px;
$fz-large-x: 24px;

$lh-small-s: 20px;
$lh-small: 22px;
$lh-medium: 24px;
$lh-medium-x: 26px;
$lh-large: 30px;
$lh-large-x: 32px;
